
<% include ./partials/_head %> 

<h1>Movie Quotes</h1>
   

<ul>
  <% for (var quoteId in quotes) { %>
    <li><%= quotes[quoteId].quote %></li>
      <ul>
      <% for (var commentId of quotes[quoteId].comments) { %>
        <li>
          
          <%= comments[commentId].comment %></li>

         <% } %>
      </ul>
  <% } %>
</ul>




</body>
</html>