<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href='/styles.css'>
  <title>Movie Quotes</title>
</head>
<body>
<h1>Movie Quotes</h1>
   

<ul>
  <% for (var quoteId in quotes) { %>
    <li><%= quotes[quoteId].quote %></li>
      <ul>
      <% for (var commentId of quotes[quoteId].comments) { %>
        <li>
          
          <%= comments[commentId].comment %></li>

         <% } %>
      </ul>
  <% } %>
</ul>




</body>
</html>