
<% include ./partials/_head %>

<h1>Movie Quotes</h1>
<h2>Add a new quote</h2>

<div class="container">
<form method="post" action="/quotes">

<div class="form-group">
  <input type="text" name="quote" placeholder="Please enter a new quote">
</div>
  <input type="submit" value="Add">

</form>
</div>

</body>
</html>